/* Estilos gerais e reset de margens */
* {
    margin: 0;
    box-sizing: border-box;
}



/* Contêiner principal para as imagens */
.image-container {
    width: 100%;
    height: 100vh; /* A altura é agora 100% da altura da tela */
    position: relative;
    overflow: hidden; /* Impede que a imagem ultrapasse as bordas da div */
}

/* Estilo para cada imagem */
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh; /* Aumentei a altura para 120% da altura da tela */
    object-fit: cover; /* Garante que a imagem cubra todo o contêiner sem distorcer */
    opacity: 0; /* Imagens começam invisíveis */
    transition: opacity 3s ease-in-out, transform 0.4s ease; /* Transição suave para opacidade e zoom */
    background-position: center;
}

/* A classe 'active' faz com que a imagem se torne visível */
.image-container img.active {
    opacity: 1; /* Quando 'active', a imagem fica visível */
}

/* Ajuste de sobreposição do texto */
.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    color: white;
    font-size: calc(1.575rem + 3.9vw);
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    z-index: 10;
    text-align: center;
    max-width: 90%; /* Limita a largura do texto */
    line-height: 1.2;
    white-space: nowrap; /* Impede que o texto quebre em múltiplas linhas */
}

/* Ajuste do botão "JOIN NOW" */
.btn {
    position: absolute;
    background-color: #495057;
    color: white;
    border-radius: 7px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    z-index: 10;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    padding: 15px 40px;
    border: none;
    margin: 0 0 8px;
}

.btn:hover {
    background-color: #FFF;
    color: #495057;
}

/* Estilo do Navbar */
nav, .nav, .navbar-brand, .nav-link, .nav-item, #navbarNav {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 16px 0; /* Padding inicial */
    background-color: white; /* Mantém o fundo branco */
    transition: padding 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Quando rola a página para baixo */
.navbar.scrolled {
    padding: 10px 0; /* Reduz o padding quando rolar */
    background-color: white; /* Fundo branco permanece */
    box-shadow: 0 10px 30px -10px rgb(0 64 128 / 20%); /* Adiciona a sombra */
}

.navbar-brand {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 16px 0 0;
    padding-top: 5px;
}

.nav-item {
    padding: 0 12px;
}

.nav-link {
    color: #212121;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #495057;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
}

.navbar-expand-lg {
    padding: 16.5px 0;
}

div.container-fluid {
    margin: 0 60px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.paragrafo {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #495057;
    font-weight: 600;
    margin: 0 0 5px;
}

.texto {
    font-family: 'Oswald', sans-serif;
    font-size: calc(1.325rem + .9vw);
    font-weight: 700;
}

.paragrafo__classes {
    font-size: 15px;
}

.texto__classes {
    font-size: 29px;
}

.titulo__classes__2 {
    margin-bottom: 50px;
}

.sobre__nos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 6%;
    gap: 15px;
}

.introducao__sobre__nos {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 8px 48px 0px 0px;
    margin: 0px 0px 0px;
    max-width: 550px;
}

.lista__sobre__nos {
    font-family: "Poppins", sans-serif;
    padding-left: 16px;
    max-width: 550px;
    margin-top: 15px;
}

.item__lista {
    padding: 9px 0px;
    font-size: 14px;
}

.btn__section__2 {
    background-color: #495057;
    color: white;
    border-radius: 7px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 15px 40px;
    border: none;
    margin-top: 20px;
}

.btn__section__2:hover {
    background-color: #FFF;
    color: #495057;
    border: solid 2px #495057;
}

.imagem__puxada__zoom {
    height: 465px;
    width: 365px;
    margin-right: 120px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.img__puxada {
    width: 100%;
    height: 100%;
    transition: all 0.4s linear;
    object-fit: cover;
}

.imagem__puxada__zoom:hover .img__puxada {
    transform: scale(1.2);
}

.banners {
    padding: 120px 6%;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.container__banner__1,
.container__banner__2, 
.container__banner__3 {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(201, 192, 192, 0.91);
    position: relative;

}

.container__banner__1 .num__1, 
.container__banner__2 .num__2,
.container__banner__3 .num__3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 6px;
}

.container__banner__1 .num__1, 
.container__banner__2 .num__2,
.container__banner__3 .num__3 {
    border-right: solid 3px #495057;
    height: 150px;
    display: flex;
    align-items: center;

}


.container__banner__1 .banner__1 h4, 
.container__banner__2 .banner__2 h4,
.container__banner__3 .banner__3 h4{
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.container__banner__1 .banner__1 h4,
.container__banner__3 .banner__3 h4 {
    margin-left: 50px;
    margin-bottom: 15px;
}
.container__banner__2 .banner__2 h4 {
    margin-left: 50px;
    margin-top: 1px;
}

.container__banner__1 .banner__1 p, 
.container__banner__2 .banner__2 p,
.container__banner__3 .banner__3 p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #495057;
    font-weight: 400;
    margin-left: 50px;
}

.container__banner__1,
.container__banner__2,
.container__banner__3 {
    display: flex; /* Faz os elementos ficarem lado a lado */
    align-items: center; /* Alinha os itens verticalmente */
    gap: 20px; /* Dá um espaço entre o número e o título */
    width: 100%;
}

.titulo__classes {
    padding: 0px 0px 48px 0px;
}




/* Garantir que o carrossel ocupe 100% da largura da tela */
.carousel-inner {
    width: 100%;
    overflow: hidden;
}

/* Imagens do carrossel devem preencher completamente o contêiner */
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/* Caso queira fazer o carrossel se mover mais suavemente, pode adicionar uma transição */
.carousel-item {
    transition: transform 0.5s ease-in-out;
}



/* Wrapper para as imagens */
.carrossel-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%; /* Ajuste para mostrar 3 imagens */
    gap: 24px; /* Espaçamento entre as imagens */
    animation: move-carousel 15s infinite;
    
}

/* Contêiner do carrossel */
.carrossel-container {
    width: 88%; /* Largura total do carrossel */
    overflow: hidden; /* Esconde as imagens fora da área visível */
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center; /* Garante que o carrossel esteja centralizado */
}

/* Imagem do carrossel */
.carrossel-image {
    flex: 0 0 auto; /* Cada imagem ocupa 1/3 da largura do contêiner */
    width: calc(33.33% - 20px); /* A largura das imagens com espaçamento entre elas */
    height: 500px; /* Altura fixa para o carrossel */
}

/* carrossel infinitamente */
@keyframes move-carousel {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-33.33%); 
    }
    30% {
        transform: translateX(-66.66%); 
    }
    45% {
        transform: translateX(-100%); 
    }
    60% {
        transform: translateX(-133.33%); 
    }
    75% {
        transform: translateX(-166.66%); 
    }
    90% {
        transform: translateX(-200%); 
    }
    100% {
        transform: translateX(-233.33%); 
    }
}

/* Imagem do carrossel */
.carrossel-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    filter: brightness(0.5);
}

.container__nutricao {  
    display: flex;
    margin: 45px 85px 50px;
}

.titulo__nutricao h5{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 600;
    min-width: 486px;
}

.imagem__nutricao img{
    margin-left: 100px;
    width: 200px;
    height: 200px;
}

.texto__nutricao {
    margin-left: 80px;
}

.texto__nutricao h5{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.texto__nutricao p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    max-width: 800px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(201, 192, 192, 0.91);
    border: none;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h5{
    align-items: center;
}

.card-title {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 600;
}

.card-text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #495057;

    flex-grow: 1;
}

.btn__card {
    position: absolute;
    border-radius: 7px;
    font-size: 16px;
    top: 82%;
    left: 20%;
    padding: 13px 15px;
    border: none;
    margin: 0px;
}

.container__numeros{
    display: flex;
    justify-content: space-evenly;
    text-align: center; 
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
}

.numero {
    font-weight: 600;
    font-size: 52px;
    color: #000;
}

.titulo__numeros {
    font-size: 22px;
    color: #9A9A9A;
    font-weight: 500;
}

.imagem__corda {
    width: 100%;
    margin-top: 80px;
    filter: brightness(0.5);
}







/* Contêiner do vídeo e do botão de play */
.video-section {
    position: relative;
    width: 100%;
    height: auto;
}

/* A imagem de fundo */
.imagem__corda {
    width: 100%;
    height: auto;
    display: block;
}

/* Contêiner do botão de play */
.play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Garante que o botão de play fique acima da imagem */
}

/* Estilo do botão de play */
.play-button {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: white;
}

.play-icon {
    width: 70px; 
    height: 70px;
    filter: invert(1) grayscale(100%) contrast(100%) brightness(100%);
}

/* Ícone de Play */
.bi-play-circle-fill {
    font-size: 100px;
}

/* Overlay escuro para o vídeo */
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Inicialmente invisível */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer; /* Permite que o usuário clique em qualquer lugar para fechar */
}

/* Pop-up do vídeo */
.video-popup {
    position: relative;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;

    border: none;
    outline: none;
}

/* O iframe de vídeo */
#videoFrame {
    width: 100%;
    height: 100%;
}

.video-text {
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 80px;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    max-width: 500px;
}