/* Estilos gerais e reset de margens */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Contêiner principal para as imagens */
.image-container {
    width: 100%;
    height: 100vh; /* A altura é agora 100% da altura da tela */
    position: relative;
    overflow: hidden; /* Impede que a imagem ultrapasse as bordas da div */
}

/* Estilo para cada imagem */
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh; /* Aumentei a altura para 120% da altura da tela */
    object-fit: cover; /* Garante que a imagem cubra todo o contêiner sem distorcer */
    opacity: 0; /* Imagens começam invisíveis */
    transition: opacity 3s ease-in-out, transform 0.4s ease; /* Transição suave para opacidade e zoom */
    background-position: center;
}

/* A classe 'active' faz com que a imagem se torne visível */
.image-container img.active {
    opacity: 1; /* Quando 'active', a imagem fica visível */
}

/* Ajuste de sobreposição do texto */
.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    color: white;
    font-size: calc(1.575rem + 3.9vw);
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    z-index: 10;
    text-align: center;
    max-width: 90%; /* Limita a largura do texto */
    line-height: 1.2;
    white-space: nowrap; /* Impede que o texto quebre em múltiplas linhas */
}

/* Ajuste do botão "JOIN NOW" */
.btn {
    position: absolute;
    background-color: #495057;
    color: white;
    border-radius: 7px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    z-index: 10;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    padding: 15px 40px;
    border: none;
    margin: 0 0 8px;
}

.btn:hover {
    background-color: #FFF;
    color: #495057;
}

/* Estilo do Navbar */
nav, .nav, .navbar-brand, .nav-link, .nav-item, #navbarNav {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 16px 0; /* Padding inicial */
    background-color: white; /* Mantém o fundo branco */
    transition: padding 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Quando rola a página para baixo */
.navbar.scrolled {
    padding: 10px 0; /* Reduz o padding quando rolar */
    background-color: white; /* Fundo branco permanece */
    box-shadow: 0 10px 30px -10px rgb(0 64 128 / 20%); /* Adiciona a sombra */
}

.navbar-brand {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 16px 0 0;
    padding-top: 5px;
}

.nav-item {
    padding: 0 12px;
}

.nav-link {
    color: #212121;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #495057;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
}

.navbar-expand-lg {
    padding: 16.5px 0;
}

div.container-fluid {
    margin: 0 60px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.paragrafo {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #495057;
    font-weight: 600;
    margin: 0 0 5px;
}

.texto {
    font-family: 'Oswald', sans-serif;
    font-size: calc(1.325rem + .9vw);
    font-weight: 700;
}

.paragrafo__classes {
    font-size: 15px;
}

.texto__classes {
    font-size: 29px;
}

.sobre__nos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 6%;
    gap: 15px;
}

.introducao__sobre__nos {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 8px 48px 0px 0px;
    margin: 0px 0px 0px;
    max-width: 550px;
}

.lista__sobre__nos {
    font-family: "Poppins", sans-serif;
    padding-left: 16px;
    max-width: 550px;
    margin-top: 15px;
}

.item__lista {
    padding: 9px 0px;
    font-size: 14px;
}

.btn__section__2 {
    background-color: #495057;
    color: white;
    border-radius: 7px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 15px 40px;
    border: none;
    margin-top: 20px;
}

.btn__section__2:hover {
    background-color: #FFF;
    color: #495057;
    border: solid 2px #495057;
}

.imagem__puxada__zoom {
    height: 465px;
    width: 365px;
    margin-right: 120px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.img__puxada {
    width: 100%;
    height: 100%;
    transition: all 0.4s linear;
    object-fit: cover;
}

.imagem__puxada__zoom:hover .img__puxada {
    transform: scale(1.2);
}

.banners {
    padding: 120px 6%;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.container__banner__1,
.container__banner__2, 
.container__banner__3 {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(201, 192, 192, 0.91);
    position: relative;

}

.container__banner__1 .num__1, 
.container__banner__2 .num__2,
.container__banner__3 .num__3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 26px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 6px;
}

.container__banner__1 .num__1, 
.container__banner__2 .num__2,
.container__banner__3 .num__3 {
    border-right: solid 3px #495057;
    height: 150px;
    display: flex;
    align-items: center;

}


.container__banner__1 .banner__1 h4, 
.container__banner__2 .banner__2 h4,
.container__banner__3 .banner__3 h4{
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.container__banner__1 .banner__1 h4,
.container__banner__3 .banner__3 h4 {
    margin-left: 50px;
    margin-bottom: 15px;
}
.container__banner__2 .banner__2 h4 {
    margin-left: 50px;
    margin-top: 1px;
}

.container__banner__1 .banner__1 p, 
.container__banner__2 .banner__2 p,
.container__banner__3 .banner__3 p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #495057;
    font-weight: 400;
    margin-left: 50px;
}

.container__banner__1,
.container__banner__2,
.container__banner__3 {
    display: flex; /* Faz os elementos ficarem lado a lado */
    align-items: center; /* Alinha os itens verticalmente */
    gap: 20px; /* Dá um espaço entre o número e o título */
    width: 100%;
}

.titulo__classes {
    padding-top: 20px;
}







/* Garantir que o carrossel ocupe 100% da largura da tela */
.carousel-inner {
    width: 100%;
    overflow: hidden;
}

/* Imagens do carrossel devem preencher completamente o contêiner */
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
}

/* Caso queira fazer o carrossel se mover mais suavemente, pode adicionar uma transição */
.carousel-item {
    transition: transform 0.5s ease-in-out;
}



.carrossel-container {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.carrossel-wrapper {
    display: flex;
    animation: move-right 30s linear infinite;
    width: calc(100% * 6);
}


.carrossel-image {
    width: 0 0 33.33%; /* Cada imagem ocupa 1/6 da largura, 100% / 6 */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    margin-right: 10px; /* Espaçamento entre as imagens */
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.33%);
    }
}
