<section>
    <div class="banners">
        <div class="container__banner__1">
            <div class="num__1">
                <h3>01</h3>
            </div>
            <div class="banner__1">
                <h4 class="titulo__banner1">Expert Trainers</h4>
                <p>Our team of certified trainers brings a wealth of knowledge and experience to guide you on your fitness journey.</p>
            </div>
        </div>
        <div class="container__banner__2">
            <div class="num__2">
                <h3>02</h3>
            </div>
            <div class="banner__2">
                <h4 class="titulo__banner2">Personalized Fitness Plans</h4>
                <p>We understand that everyone's fitness journey is unique. That's why we offer personalized.</p>
            </div>
        </div>
        <div class="container__banner__3">
            <div class="num__3">
                <h3>03</h3>
            </div>
            <div class="banner__3">
                <h4 class="titulo__banner3">Safety and Wellbeing</h4>
                <p>Our team of certified trainers brings a wealth of knowledge and experience to guide you on your fitness journey.</p>
            </div>
        </div>
    </div>
</section>