<section>
    <div class="titulo titulo__blog">
        <p class="paragrafo paragrafo__blog">Latest Blog</p>
        <h2 class="texto texto__blog">Discover the Latest Insights and Tips in Fitness and Wellness</h2>
    </div>

    <div class="cards cards__blog">
        <div class="card" style="width: 25rem; height: 35rem;">
            <div class="imagem__puxada__card imagem__blog__card">
                <img src="./assets/img/blog-img-1.jpg" class="card-img-top" alt="Homem passando magnésio nas mãos">
            </div>
            <div class="card-body card__body__blog">
                <h5 class="card-title title__card__1 title__card__blog">Nutrition Tips for a Balanced Diet</h5>
                <p class="card-text text__card__blog">Discover practical tips and expert advice on how to maintain a balanced diet that fuels your fitness journey. Learn about essential nutrients, meal planning, and healthy eating habits.</p>
                <a href="#" class="btn btn__card btn__blog">READ MORE</a>
            </div>
        </div>
        <div class="card" style="width: 25rem; height: 35rem;">
            <div class="imagem__puxada__card imagem__blog__card">
                <img src="./assets/img/blog-img-2.jpg" class="card-img-top" alt="Pessoas fazendo aeróbico na bicicleta">
            </div>
            <div class="card-body card__body__blog">
              <h5 class="card-title title__card__2 title__card__blog">Maximizing Your Workout Routine</h5>
              <p class="card-text text__card__blog">Uncover strategies to get the most out of your workouts. From effective exercise combinations to recovery techniques, we'll you your fitness routine for better results.</p>
              <a href="#" class="btn btn__card btn__blog">READ MORE</a>
            </div>
        </div>
        <div class="card" style="width: 25rem; height: 35rem;">
            <div class="imagem__puxada__card imagem__blog__card">
                <img src="./assets/img/blog-img-3.jpg" class="card-img-top" alt="Mulher lutando box">
            </div>
            <div class="card-body card__body__blog">
              <h5 class="card-title title__card__3 title__card__blog">Injury Prevention and Recovery</h5>
              <p class="card-text text__card__blog">Discover practical tips on how to prevent common workout injuries and promote faster recovery. We'll provide insights on proper form, warm-up routines, to recovery techniques, and rehabilitation exercises.</p>
              <a href="#" class="btn btn__card btn__blog">READ MORE</a>
            </div>
        </div>
    </div>
</section>