<section>
    <div class="titulo titulo__classes">
        <p class="paragrafo paragrafo__classes">Fitness Classes</p>
        <h2 class="texto texto__classes">Individualized Exercise Routine</h2>
    </div>
    
    <div class="carrossel-container">
        <div class="carrossel-wrapper">
            <div class="carrossel-image">
                <h4>Strength and Conditioning</h4>
                <p>Sculpt and tone your body with our results-driven strength training sessions.</p>
                <img src="./assets/img/fitness-classes1.jpg" alt="Homem e mulher fazendo aula de condicionamento">
            </div>
            <div class="carrossel-image">
                <h4>Cardio Blast</h4>
                <p>Get your heart pumping and boost your endurance with our dynamic cardio workouts.</p>
                <img src="./assets/img/fitness-class2.jpg" alt="Mulher fazendo aeróbico na bicicleta">
            </div>
            <div class="carrossel-image">
                <h4>High-Intensity Interval Training</h4>
                <p>Ignite your metabolism and torch calories with our heart-pounding HIIT sessions.</p>
                <img src="./assets/img/fitness-class3.jpg" alt="Mulher fazendo prancha">
            </div>
            <div class="carrossel-image">
                <h4>Pilates for Core Stability</h4>
                <p>Discover the power of Pilates for core strength and stability. Our certified instructors lead classes .</p>
                <img src="./assets/img/fitness-class4.jpg" alt="Mulher fazendo barra">
            </div>
            <div class="carrossel-image">
                <h4> Spinning and Cardio Blast</h4>
                <p>Pedal your way to fitness with our heart-pumping spinning classes. This exhilarating workout combines high-intensity.</p>
                <img src="./assets/img/fitness-class5.jpg" alt="Homem e mulher treinando na academia">
            </div>
            <div class="carrossel-image">
                <h4>Yoga and Mindfulness</h4>
                <p> Find your center and improve flexibility with our rejuvenating yoga classes. Led by experienced instructors.</p>
                <img src="./assets/img/fitness-class6.jpg" alt="professor dando aula de yoga para uma mulher">
            </div>
        </div>
    </div>
    </div>

    <div class="container__nutricao">
        <div class="titulo__nutricao">
            <h5>We hold the belief that fitness transcends mere daily routine.</h5>
        </div>
        <div class="imagem__nutricao">
            <img src="./assets/img/healthe-food.png" alt="Imagem de um prato de comida">
        </div>
        <div class="texto__nutricao">
            <h5>
                Nutritious Eating Strategy
            </h5>
            <p>
                Embarking on a Nutritious Eating Strategy is a powerful step towards a healthier, more vibrant life. It involves making mindful choices about the foods you consume to ensure your body receives the essential nutrients it needs to function optimally.
            </p>
        </div>
    </div>
</section>