<section>
    <div class="titulo titulo__classes__2">
        <p class="paragrafo paragrafo__classes__2">The Fitness Classes</p>
        <h2 class="texto texto__classes__2">Explore Our Dynamic Classes</h2>
    </div>

    <div class="cards">
        <div class="card card__classes" style="width: 25rem; height: 33rem;">
            <div class="imagem__puxada__card">
                <img src="./assets/img/01.jpg" class="card-img-top" alt="Homem passando magnésio nas mãos">
            </div>
            <div class="card-body">
                <h5 class="card-title title__card__1">Functional Fitness Gym</h5>
                <p class="card-text">Emphasizes functional movements various that mimic real-life activities, improving overall strength, disciplines, agility, and flexibility.</p>
                <a href="#" class="btn btn__card">JOIN CLASSES</a>
            </div>
        </div>
        <div class="card card__classes" style="width: 25rem; height: 33rem;">
            <div class="imagem__puxada__card">
                <img src="./assets/img/02.jpg" class="card-img-top" alt="Pessoas fazendo aeróbico na bicicleta">
            </div>
            <div class="card-body">
              <h5 class="card-title title__card__2">Cycling</h5>
              <p class="card-text">Specializes in indoor cycling classes. Participants ride stationary bikes to music and follow the instructor's lead in various intensity levels.</p>
              <a href="#" class="btn btn__card">JOIN CLASSES</a>
            </div>
        </div>
        <div class="card card__classes" style="width: 25rem; height: 33rem;">
            <div class="imagem__puxada__card">
                <img src="./assets/img/03.jpg" class="card-img-top" alt="Mulher lutando box">
            </div>
            <div class="card-body">
              <h5 class="card-title title__card__3">Martial Arts Gym</h5>
              <p class="card-text">Offers classes in boxing, kickboxing, Muay Thai, Brazilian Jiu-Jitsu, or other martial arts disciplinesProvides training in striking technique.</p>
              <a href="#" class="btn btn__card">JOIN CLASSES</a>
            </div>
        </div>
    </div>

    <div class="container__numeros">
        <div class="hours__exercise">
            <div class="numero">
                <p>0</p>
            </div>
            <div class="titulo__numeros">
                <p>HOURS EXERCISE</p>
            </div>
        </div>
        <div class="hours__exercise">
            <div class="numero">
                <p>0</p>
            </div>
            <div class="titulo__numeros">
                <p>PHOTO CAPTURE</p>
            </div>
        </div>
        <div class="hours__exercise">
            <div class="numero">
                <p>0</p>
            </div>
            <div class="titulo__numeros">
                <p>TELEPHONIC TALK</p>
            </div>
        </div>
        <div class="hours__exercise">
            <div class="numero">
                <p>0</p>
            </div>
            <div class="titulo__numeros">
                <p>TRAINING PEOPLE</p>
            </div>
        </div>            
    </div>
</section>