<footer>
    <div class="background__footer">
        <div class="info__footer">
            <a href="#" class="titulo__info__footer">HOMEGYMFITNESS</a>
            <p class="texto__info__footer">At home gym fitness, we're dedicated to helping individuals of all fitness levels achieve their health and wellness goals. With state-of-the-art facilities, experienced trainers, and a supportive community, we provide the perfect environment for you to thrive. Our mission is to inspire and empower you on your fitness journey. Join us today and let's work towards a healthier, happier you!</p>
            <div class="redes__sociais__footer">
                <i class="bi-footer bi-facebook"></i>
                <i class="bi-footer bi-whatsapp"></i>
                <i class="bi-footer bi-twitter"></i>
                <i class="bi-footer bi-instagram"></i>
            </div>
        </div>
        <div class="our__service">
            <h4 class="titulo__our__service">OUR SERVICE</h4>
            <ul class="lista__our__service ">
                <li>
                    <i class="bi-chevron-double-right"></i>
                    <a href="#" class="item__lista__our__service">Home</a>
                </li>
                <li>
                    <i class="bi-chevron-double-right"></i>
                    <a href="#" class="item__lista__our__service">About</a>
                </li>
                <li>
                    <i class="bi-chevron-double-right"></i>
                    <a href="#" class="item__lista__our__service">Classes</a>
                </li>
                <li>
                    <i class="bi-chevron-double-right"></i>
                    <a href="#" class="item__lista__our__service">Price</a>
                </li>
                <li>
                    <i class="bi-chevron-double-right"></i>
                    <a href="#" class="item__lista__our__service">Team</a>
                </li>
                <li>
                    <i class="bi-chevron-double-right"></i>
                    <a href="#" class="item__lista__our__service">Blog</a>
                </li>
            </ul>
        </div>
        <div class="contact__us">
            <h4 class="titulo__contact__us">CONTACT US</h4>

            <div class="items__contact__us">
                <div class="contact__item">
                    <i class="bi-footer bi-geo-alt-fill"></i>
                    <p class="texto__endereco">Address: 956 Main Street, south 369 City.</p>
                </div>
                <div class="contact__item">
                    <i class="bi-footer bi-telephone-fill"></i>
                    <p>Phone: +864-486-1235</p>
                </div>
                <div class="contact__item">
                    <i class="bi-footer bi-envelope-fill"></i>
                    <p>Email: yourmail@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>