<div class="image-container">
    <h1 class="text-overlay">Elevate Your Fitness Journey</h1>

    <button type="button" class="btn btn-secondary btn-lg">JOIN NOW</button>

    <img src="./assets/img/banner-img.jpg" alt="Homem fazendo rosca direta" class="active">
    <img src="./assets/img/banner-img2.jpg" alt="Foto do ambiente da academia">
    <img src="./assets/img/banner-img-3.jpg" alt="Homem levantando um Kettlebells">
    <img src="./assets/img/banner-img4.jpg" alt="Homem fazendo remada serrote">
    <img src="./assets/img/banner-img5.jpg" alt="Homem fazendo remada serrote">
</div>
