<section>
    <div class="week">
        <button class="day selected" data-day="saturday">Saturday</button>
        <button class="day" data-day="monday">Monday</button>
        <button class="day" data-day="tuesday">Tuesday</button>
        <button class="day" data-day="wednesday">Wednesday</button>
        <button class="day" data-day="thursday">Thursday</button>
        <button class="day" data-day="friday">Friday</button>
    </div>
        <div id="programacao-container" class="programacao"></div>

    <div class="planos">
        <div id="programacaoPlanos" class="descricao__planos">
            <p class="paragrafo__preco__planos">Price Plans</p>
            <h5 class="titulo__planos">Choose the Perfect Plan to Fit Your Fitness Goals and Budget</h5>
            <p class="texto__planos">Explore our range of membership options designed to suit every lifestyle and goal. Whether you're looking for flexibility or committed to a long-term fitness journey, we have a plan tailored just for you. From single-session passes to all-inclusive packages</p>
            <a href="#" class="btn__planos">PRICING PLAN</a>
        </div>
        <div class="plano__anual__mensal">
            <div class="yearly__plan">
                <div class="card card__anual__mensal" style="width: 23rem;">
                    <div class="card-header yearly">
                        YEARLY PLAN
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item item-ano valor__planos">$250.00</li>
                        <li class="list-group-item item-ano">Swimming pool</li>
                        <li class="list-group-item item-ano">Canteen optional</li>
                        <li class="list-group-item item-ano">Towels included</li>
                        <li class="list-group-item item-ano">Personal trainer</li>
                        <a href="#" class="btn__mensal__anual">APPLY NOW</a>
                    </ul>
                </div>
            </div>
            <div class="monthly__plan">
                <div class="card card__anual__mensal" style="width: 23rem;">
                    <div class="card-header monthly">
                    MONTHLY PLAN
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item item-mes valor__planos">$90.00</li>
                        <li class="list-group-item item-mes">No Swimming pool</li>
                        <li class="list-group-item item-mes">No personal trainer</li>
                        <li class="list-group-item item-mes">Towels not included</li>
                        <li class="list-group-item item-mes">Canteen optional</li>
                        <a href="#" class="btn__mensal__anual">APPLY NOW</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
