<section>
    <div class="titulo titulo__sobre__nos">
        <p class="paragrafo paragrafo__sobre__nos">About Us</p>
        <h2 class="texto texto__sobre__nos">Elevate Your Fitness Journey</h2>
    </div>

    <div class="sobre__nos">
        <div class="container__sobre__nos">
            <p class="introducao__sobre__nos">
                At home gym fitness, we're dedicated to helping you reach your fitness goals and lead a healthier, happier life. With a team of certified trainers, state-of-the-art equipment, and a supportive community.
            </p>

            <ul class="lista__sobre__nos">
                <li class="item__lista">
                    <strong>Expert Trainers:</strong> Our trainers are certified professionals with a passion for fitness
                </li>
                <li class="item__lista">
                    <strong>Cutting-Edge Facilities:</strong> We invest in top-of-the-line equipment and maintain a clean. 
                </li>
                <li class="item__lista">
                    <strong>Personalized Programs:</strong> We understand that every individual is unique. That's why we offer personalized training.
                </li>
                <li class="item__lista">
                    <strong>Community Atmosphere:</strong> Join a community of like-minded individuals who share your commitment to health and wellness.
                </li>
            </ul>

            <button type="button" class="btn__section__2">LEARN MORE</button>
        </div>
        <div class="imagem__puxada__zoom">
            <img src="./assets/img/about1.jpg" alt="mulher fazendo puxada alta na máquina" class="img__puxada">
        </div>
    </div>
</section>