<section id="treinadores">
    <div class="titulo titulo__treinadores">
        <p class="paragrafo paragrafo__treinadores">Our Trainers</p>
        <h2 class="texto texto__treinadores">Meet Our Expert Trainers</h2>
    </div>

    <div class="cards cards__treinadores">
        <div class="card" style="width: 25rem; height: 33rem;">
            <div class="imagem__puxada__card imagem__treinador__card">
                <img src="./assets/img/trainer-1.jpg" class="card-img-top card__img__treinadores" alt="Homem passando magnésio nas mãos">
            </div>
            <div class="card-body card__body__treinador">
                <h5 class="card-title title__card__1 title__card__treinador">Jessica Lee</h5>
                <p class="card-text card__text__treinador">Mindfullness Coach</p>
                <div class="redes__sociais">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-whatsapp"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </div>
        <div class="card" style="width: 25rem; height: 33rem;">
            <div class="imagem__puxada__card imagem__treinador__card">
                <img src="./assets/img/trainer-2.jpg" class="card-img-top card__img__treinadores" alt="Pessoas fazendo aeróbico na bicicleta">
            </div>
            <div class="card-body card__body__treinador">
              <h5 class="card-title title__card__2 title__card__treinador">Michael Rodriguez</h5>
              <p class="card-text card__text__treinador">Conditioning Specialist</p>
              <div class="redes__sociais">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
            </div>
            </div>
        </div>
        <div class="card" style="width: 25rem; height: 33rem;">
            <div class="imagem__puxada__card imagem__treinador__card">
                <img src="./assets/img/trainer-3.jpg" class="card-img-top card__img__treinadores" alt="Treinador fazendo rosca direta">
            </div>
            <div class="card-body card__body__treinador">
              <h5 class="card-title title__card__3 title__card__treinador">Sarah Johnson</h5>
              <p class="card-text card__text__treinador"> Nutrition Coach</p>
              <div class="redes__sociais">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
            </div>
            </div>
        </div>
    </div>
</section>