<section>
    <div class="video-section">
            <img src="./assets/img/001.jpg" alt="Homem fazendo exercício com corda" class="imagem__corda">
        <div class="play-button-container">
            <button class="play-button" id="playButton">
                <img src="./assets/img/play.svg" alt="Play" class="play-icon">
            </button>
        </div>
        <div class="video-text">
            <p>Striving for an Ideal Physique</p>
        </div>
        <div class="video-overlay" id="videoOverlay">
            <div class="video-popup">
                <iframe id="videoFrame" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="card mb-3 card__7days">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/img/trainer-2.jpg" class="img-fluid rounded-start" alt="Imagem do segundo treinador">
          </div>
        <div class="col-md-8">
            <div class="card-body card__body__7days">
                <h5 class="card-title card__title__7days">Claim Your Complimentary 7-Day All-Inclusive Pass</h5>
                <p class="card-text card__text__7days"> Our certified coaches are available to support you during your workouts and orientation</p>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Your Name">
                    <label for="floatingInput">Your Name</label>
                  </div>
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email Address">
                    <label for="floatingEmail">Your Email Address</label>
                  </div>
                <a href="#" class="btn__card__7days">GET START NOW</a>
            </div>
          </div>
        </div>
    </div>
</section>