
@media (max-width: 767px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .nav-item {
        width: 100%;
        text-align: center;
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 12px 0;
    }

    

}


@media (max-width: 991px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        margin-left: 8%; 
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 12px 0;
        font-size: 18px;
    }

    .titulo__sobre__nos {
        margin-top: -20vh;
    }

    .banners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrossel-image {
        width: 50%;
    }

    .carrossel-wrapper {
        gap: 14px;
    }

    .cards__treinadores {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -20px;
    }

    .cards__blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -20px;
    }

    .texto__blog {
        text-align: center;
        max-width: 630px;
    }

    .bi-footer {
        padding: 10px 15px;
    }
}

@media (max-width: 1280px) {
    .background__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1346px) {
    .container__sobre__nos {
        margin-left: 12vw;
    }

    .sobre__nos {
        display: flex;
        flex-wrap: wrap;
    }
    
    .imagem__puxada__zoom {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: block;
        text-align: center;
    }

    .container__nutricao {
        display: flex;
        flex-direction: column;
    }

    .play-button-container {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 0;
    }
    
    .video-text {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translateX(-50%);
    }

    .card__7days {
        flex-direction: column;
        width: 70vw;
        height: auto;
        align-items: center;
        text-align: center;
        margin-top: -35vh;
    }

    .card__7days .col-md-4,
    .card__7days .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card__body__7days {
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-top: 3vh;
    }

    .card__title__7days,
    .card__text__7days,
    .card__7days .form-control {
        max-width: 50vw;
    }

    .btn__card__7days {
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .planos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        overflow: hidden;
        margin-left: auto;
    }

    .descricao__planos {
        min-width: 100vh;
    }

    .plano__anual__mensal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .card__anual__mensal {
        margin-bottom: -45px;
    }
}