@media screen and (max-width: 425px) {
    .navbar-brand {
        justify-content: flex-start !important;
        margin-left: 15px !important;
    }
    .navbar-toggler {
        margin-right: 10px !important;
    }

    .navbar-collapse {
        display: block !important;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.4s ease-in-out, .5s ease-in-out;
    }

    .navbar-collapse.show {
        height: auto;
        opacity: 1;
    }

    .image-container img {
        padding-top:10vh;
        height: 70vh !important;
    }

    .image-container h1 {
        position: absolute;
        top: 35%;
        min-width: 50vh;
        white-space: normal; 
        word-break: break-word; 
        text-align: center;
    }

    .image-container button {
        top: 45%;
    }

    #sobreNos {
        margin-top: -35vh !important;
    }

    .container__sobre__nos {
        margin: 0 !important;
    }

    .imagem__puxada__zoom {
        min-width: 43vh;
        height: 65vh !important;
    }

    .titulo__classes {
        display: flex;
        flex-direction: row;
        text-align: center; 
    }

    .carrossel-image {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;    
        position: relative;
        text-align: center;
    }
    
    .carrossel-image h4 {
        top: 30% !important;
        white-space: normal !important;
        margin: 0 auto !important; 
    }
    
    .container__nutricao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1100px;
        width: 100%;
        margin: 0px !important;
        padding: 0px;
        box-sizing: border-box;
        text-align: center;
    }
    
    .texto__nutricao {
        margin-top: 30px;
        margin-left: 0 !important;
        max-width: 90%;
    }

    .imagem__nutricao {
        margin-top: 20px;
    }
    
    .imagem__nutricao img {
        max-width: 100%;
        height: auto;
    }
    
    .card {
        width: 95% !important; 
    }

    .btn__card  {
        margin-left: 10px !important;
    }

    .container__numeros {
        display: flex;
        flex-direction: column;
    }

    .video-section {
        position: relative;
        width: 100%;
        height: 120vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .imagem__corda {
        width: 100%;
        height: 100vh !important;
        object-fit: cover;
        display: block;
    }

    .play-icon {
        margin-bottom: 25px;
    }

    .video-text p {
        font-size: calc(1.625rem + 4.5vw);
        min-width: 40vh;
        margin: 0px 0px 15vh 10px;
    }

    .card__7days {
        flex-direction: column;
        height: auto !important;
      }
    
      .card__7days .col-md-4,
      .card__7days .col-md-8 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }

      .form-control {
        max-width: 40vh !important ;
      }

      .btn__card__7days {
        width: 50%;
        text-align: center;
        margin: 25px auto !important;
      }
      
      .week {
        flex-wrap: wrap;
      }

      .aula__info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 25px 0;
        gap: 10px;
      }
    
      .horario,
      .programacao__aula,
      .programacao__professor {
        width: 100% !important;
    }
    
    .planos {
        margin: 0 auto !important;
        width: 87% !important;
    }

    .titulo__planos {
        max-width: 43vh;
    }

    .texto__planos {
        max-width: 42.5vh;
    }

    .plano__anual__mensal {
        flex-direction: column;
        gap: 5rem !important;
        margin: 50px 0px 0px 0px !important;
    }
    
      .yearly__plan,
      .monthly__plan {
        width: 44vh !important;
    }

    .monthly__plan {
        padding-bottom: 8vh;
    }

    .titulo__treinadores {
        margin: 0 !important;
    }

    .background__footer {
        flex-direction: column !important;
    }

    .our__service {
        margin-right: 20vh;
    }

    .titulo__our__service {
        white-space: nowrap;
    }

    .contact__us {
        margin-right: 1vh;
    }
} 


@media screen and (max-width: 320px) {
    .cards__blog__blog {
        height: 115vh;
    }
    
}




@media screen and (min-width: 375px){
    .yearly__plan,
    .monthly__plan {
        width: 52vh !important;
    }
}

@media screen and (min-width: 425px){
    .btn__card  {
        margin-left: -7px !important;
    }

    .video-text p {
        font-size: calc(1.625rem + 4.5vw);
        min-width: 50vh;
        margin: 0px 0px 10vh 8vh;
    }

    .yearly__plan,
    .monthly__plan {
        width: 59vh !important;
    }

    .btn__blog {
        margin-left: 10px !important;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }   

    .nav-item {
        width: 100%;
        text-align: center;
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 12px 0;
    }

}


@media (max-width: 991px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        margin-left: 8%; 
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 12px 0;
        font-size: 18px;
    }

    .titulo__sobre__nos {
        margin-top: -20vh;
    }

    .banners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrossel-image {
        width: 50%;
    }

    .carrossel-wrapper {
        gap: 14px;
    }

    .cards__treinadores {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -20px;
    }

    .cards__blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -20px;
    }

    .texto__blog {
        text-align: center;
        max-width: 630px;
    }

    .bi-footer {
        padding: 10px 15px;
    }
}

@media (max-width: 1280px) {
    .background__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1346px) {
    .container__sobre__nos {
        margin-left: 12vw;
    }

    .sobre__nos {
        display: flex;
        flex-wrap: wrap;
    }
    
    .imagem__puxada__zoom {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        display: block;
        text-align: center;
    }

    .container__nutricao {
        display: flex;
        flex-direction: column;
    }

    .play-button-container {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 0;
    }
    
    .video-text {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translateX(-50%);
    }

    .card__7days {
        flex-direction: column;
        width: 70vw;
        height: auto;
        align-items: center;
        text-align: center;
        margin-top: -35vh;
    }

    .card__7days .col-md-4,
    .card__7days .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card__body__7days {
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-top: 3vh;
    }

    .card__title__7days,
    .card__text__7days,
    .card__7days .form-control {
        max-width: 50vw;
    }

    .btn__card__7days {
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .planos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        overflow: hidden;
        margin-left: auto;
    }

    .descricao__planos {
        min-width: 100vh;
    }

    .plano__anual__mensal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .card__anual__mensal {
        margin-bottom: -45px;
    }
}